# 10-intel-x710.rules- Forced 10G and Jumbo Frames
# File-Path: /etc/udev/rules.d/10-intel-x710.rules

# Intel X710-DA2 (SFP+ Ports)
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp10s0f0np0", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp10s0f1np1", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"

# Intel X710-T4L (RJ45 Ports)
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp65s0f0np0", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp65s0f1np1", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp65s0f2np2", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"
ACTION=="add", SUBSYSTEM=="net", KERNEL=="enp65s0f3np3", RUN+="/usr/bin/ip link set %k up mtu 9000 txqueuelen 10000", RUN+="/usr/bin/ethtool -s %k speed 10000 duplex full autoneg off"
# This line will be ignored but necessary for properly work of script.
